* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(
    135deg,
    #212121,
    #212121,
    #252525,
    #757575,
    #2e2c2c,
    #212121
  );
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  color: white;
}

.HeaderCss {
  background: linear-gradient(135deg, #212121, #424242, #363636, #474646);
  padding: 18px;
  text-align: center;
  box-shadow: 5px 5px 19px #000;
}

.Text {
  animation: scale 0.9s alternate-reverse infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
    transition: 0.7s;
  }

  25% {
    transform: scale(0.9);
    transition: 0.8s;
  }

  75% {
    transition: 0.4s;
  }
}
